# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/8.6/fileHashes/resourceHashesCache.bin
.gradle/file-system.probe

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Others
*.lock

# Ignore local.properties file
local.properties

# Ignore build output
/build/
app/build/


