# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Others
*.lock

# Ignore local.properties file
local.properties

# Ignore build output
/build/
app/build/