.nav-link {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: dimgray;
}

a:hover {
  color: #E35352;
}

.active {
  font-weight: 700;
  color: var(--secondary-red);
  text-decoration: underline;
}