<div ngbAccordion>
  <div ngbAccordionItem *ngFor="let purchase of purchases">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="accordion-button">
        <div class="col">
          <span class="fc-secondary font-bold fs-sm-2">
            {{ 'ADMIN_PEDIDOS_ITEM.orden' | translate }} #{{purchase.id_sell}}
          </span>
        </div>
        <div class="text-end col">
          <span class="font-semi-bold fc-primary fs-sm-2 pe-4">
            {{purchase.saleDate}}
          </span>
        </div>
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <table class="table">
            <thead>
              <tr class="fc-primary font-bold fs-sm-1">
                <th scope="col">{{ 'ADMIN_PEDIDOS_ITEM.producto' | translate }}</th>
                <th scope="col">{{ 'ADMIN_PEDIDOS_ITEM.precio' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fc-primary font-medium fs-sm-1" *ngFor="let book of purchase.books">
                <td>{{ getBookTitle(book) }}</td>
                <td>{{ getBookPrice(book) }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr class="fc-primary font-bold fs-sm-1">
                <th scope="col">{{ 'ADMIN_PEDIDOS_ITEM.cantidad' | translate }}</th>
                <th scope="col">{{ 'ADMIN_PEDIDOS_ITEM.total' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fc-primary font-medium fs-sm-1">
                <td>{{ purchase.totalQuantity }}</td>
                <td>{{ purchase.totalCost }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
</div>
