<div class="modal-body p-0 m-0">
  <div class="container">
    <div class="row">
      <div class="text-end pt-4 pe-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="row justify-content-start">
        <div class="col-12 mb-2">
          <h4 class="font-medium fs-md-1 fc-primary">{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.editar_direcciones' | translate}}</h4>
        </div>
      </div>
    </div>

    <form [formGroup]="formAddress" (submit)="updateUserAddress()">
      <div class="row mb-3">
        <label for="inputAddress" class="col-sm-2 col-form-label visually-hidden">{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.calle_numero' | translate}}</label>
        <div class="col-sm-12">
          <input type="text" formControlName="address_street" class="form-control" id="inputAddress"
            placeholder="{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.calle_numero' | translate}}" />
          <small class="text-danger mt-2" [hidden]="address_street.valid || address_street.pristine">
            <span *ngIf="address_street.errors?.['required']">
              {{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.calle_numero' | translate}} {{'mensajes_de_errores.campo_requerido' | translate}}
            </span>
          </small>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputZip" class="col-sm-2 col-form-label visually-hidden">{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.codigo_postal' | translate}}</label>
        <div class="col-sm-12">
          <input type="number" formControlName="postal_code" class="form-control" id="inputZip" placeholder="{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.codigo_postal' | translate}}" />
          <small class="text-danger mt-2" [hidden]="postal_code.valid || postal_code.pristine">
            {{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.codigo_postal' | translate}} {{'mensajes_de_errores.campo_requerido' | translate}}
          </small>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputLocality" class="col-sm-2 col-form-label visually-hidden">{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.localidad' | translate}}</label>
        <div class="col-sm-12">
          <input type="text" formControlName="address_location" class="form-control" id="inputLocality" placeholder="{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.localidad' | translate}}" />
          <small class="text-danger mt-2" [hidden]="address_location.valid || address_location.pristine">
            {{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.localidad' | translate}} {{'mensajes_de_errores.campo_requerido' | translate}}
          </small>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputProvince" class="col-sm-2 col-form-label visually-hidden">{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.provincia' | translate}}</label>
        <div class="col-sm-12">
          <input type="text" formControlName="address_province" class="form-control" id="inputProvince" placeholder="{{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.provincia' | translate}}" />
          <small class="text-danger mt-2" [hidden]="address_province.valid || address_province.pristine">
            {{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.provincia' | translate}} {{'mensajes_de_errores.campo_requerido' | translate}}
          </small>
        </div>
      </div>

      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-cancel me-5" data-bs-dismiss="modal" (click)="onClose()">
            {{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.cancelar' | translate}}
          </button>
        </div>
        <div>
          <button type="submit" class="btn btn-danger" [disabled]="formAddress.invalid">
            {{'ADMIN_FORM_EDITAR_DATOS_DIRECCION.guardar_cambios' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
