
<div *ngIf="profile; else loginRequired" class="wrapper">
  <h1 class="font-bold fs-md-2 fc-primary">{{'ADMIN.titulo_principal' | translate}}</h1>
  <main>
    <section>
      <h2 class="font-bold fs-md-2 fc-primary">{{'ADMIN.titulo_datos' | translate}}</h2>
      <div class="dataCard">
        <div class="title">
          <h3 class="fs-sm-2 font-semi-bold fc-primary">{{'ADMIN.titulo_datos_personales' | translate}}</h3>
          <button type="button" (click)="onEditPersonalData()">
            <img src="/assets/icons/actions/edit.png" alt="Editar datos personales" />
          </button>
        </div>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.name + profile.lastname}}</span>
        <span class="font-semi-bold fs-sm-2 fc-primary">{{profile.dni}}</span>
        <span class="font-semi-bold fs-sm-2 fc-primary">{{profile.email}}</span>
      </div>
      <div class="dataCard">
        <div class="title">
          <h3 class="font-semi-bold fs-sm-2 fc-primary">{{'ADMIN.titulo_direccion' | translate}}</h3>
          <button type="button" (click)="onEditAddress()">
            <img src="/assets/icons/actions/edit.png" alt="Editar dirección" />
          </button>
        </div>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.address_street}}</span>
        <span class="font-bold fs-sm-2 fc-primary">{{profile.address_province}}</span>
        <span class="font-semi-bold fs-sm-2 fc-primary">{{profile.address_location}}</span>

      </div>
    </section>
    <section *ngIf="purchaseData" class="col-6">
      <h2>{{'ADMIN.titulo_pedidos_realizados' | translate}}</h2>
      <app-pedidos-item [purchases]="purchaseData"></app-pedidos-item>
    </section>
  </main>
</div>

<ng-template #loginRequired>
  <p>{{'ADMIN.titulo_no_usario_logeado' | translate}}</p>
</ng-template>
