<app-header></app-header>
<div class="mt-5 pt-5">
  <div class="container-fluid px-md-5">
    <div class="row px-4 index-book-title">
      <p class="col-6 col-md-12 fc-primary font-bold fs-md text-uppercase">
        {{ 'HOME_PAGE.RECOMENDADOS' | translate }}
      </p>
      <p class="col-10 d-none d-md-block font-medium fc-primary-light fs-md">
        {{ 'HOME_PAGE.descripcion_RECOMENDADOS' | translate }}
      </p>
      <div class="col-2">
        <a class="font-medium fc-secondary fs-md-1 ps-4" (click)="onClickCatalogue()">
          {{ 'HOME_PAGE.button_ver_todos' | translate }} <span class="fs-sm-2">></span>
        </a>
      </div>
    </div>
  </div>
  <app-books-row-cards [books]="recomendedBooks" justify="evenly"></app-books-row-cards>
</div>

<div class="mt-5">
  <div class="container-fluid px-md-5">
    <div class="row px-4 index-book-title">
      <p class="col-6 col-md-12 fc-primary font-bold fs-md text-uppercase">
        {{ 'HOME_PAGE.NOVEDADES' | translate }}
      </p>
      <p class="col-10 d-none d-md-block font-medium fc-primary-light fs-md">
        {{ 'HOME_PAGE.descripcion_NOVEDADES' | translate }}
      </p>
      <div class="col-2">
        <a class="font-medium fc-secondary fs-md-1 ps-4" (click)="onClickCatalogue()">
          {{ 'HOME_PAGE.button_ver_todos' | translate }} <span class="fs-sm-2">></span>
        </a>
      </div>
    </div>
  </div>
  <app-books-row-cards [books]="newAtBooks" justify="evenly"></app-books-row-cards>
</div>

<div class="mt-5">
  <div class="container-fluid px-md-5">
    <div class="row px-4 index-book-title">
      <p class="col-6 col-md-12 fc-primary font-bold fs-md text-uppercase">
        {{ 'HOME_PAGE.mas_vendidos' | translate }}
      </p>
      <p class="col-10 d-none d-md-block font-medium fc-primary-light fs-md">
        {{ 'HOME_PAGE.descripcion_mas_vendidos' | translate }}
      </p>
      <div class="col-2">
        <a class="font-medium fc-secondary fs-md-1 ps-4" (click)="onClickCatalogue()">
          {{ 'HOME_PAGE.button_ver_todos' | translate }} <span class="fs-sm-2">></span>
        </a>
      </div>
    </div>
  </div>
  <app-books-row-cards [books]="topSellingBooks" justify="evenly"></app-books-row-cards>
</div>
