<div class="modal-body p-0 m-0">
  <section class="container-fluid vh-100">
    <div class="row justify-content-evenly vh-100">
      <div class="d-none d-lg-block col-lg-4 pt-4 background-color-green">
        <div class="row justify-content-center pt-4">
          <div class="col pt-4">
            <img
              src="./assets/img/img utils/register-image.png"
              class="img-fluid pt-4"
              alt=""
            />
          </div>
        </div>
      </div> <!-- Cierre del primer div de col-lg-4 -->

      <div class="col-12 col-lg-8 py-4 mt-5">
        <div class="text-end mb-4 pb-4">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="onClickClose()"
          ></button>
        </div>

        <div class="row justify-content-center pb-4">
          <div class="col-12 col-lg-11 col-xl-9">
            <h4 class="font-medium fs-md-1 fc-primary">
              {{ 'REGISTRO.main_title' | translate }}
            </h4>
          </div>
        </div>

        <div *ngIf="showConfirmationMessage" class="alert alert-success" role="alert">
          {{ 'REGISTRO.confirmation_message' | translate }}
        </div>

        <!-- Agregar bloque para mensajes de error generales -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="row justify-content-center">
          <div class="col-12 col-lg-11 col-xl-9">
            <div class="row">
              <div class="col-6 pb-3">
                <input
                  minlength="3"
                  formControlName="name"
                  type="text"
                  class="form-control fw-300 py-3 formInput"
                  placeholder="{{ 'REGISTRO.placeholder_text_nombre' | translate }}"
                />
                <div *ngIf="name?.errors && name?.touched">
                  <ng-container *ngFor="let error of errorMessages.name">
                    <div class="text-danger" *ngIf="name?.hasError(error.type)">
                      {{ 'REGISTRO.mensaje_error' | translate }}
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="col-6 pb-3">
                <input
                  minlength="3"
                  formControlName="lastname"
                  type="text"
                  class="form-control fw-300 py-3 formInput"
                  placeholder="{{ 'REGISTRO.placeholder_text_apellido' | translate }}"
                />
                <div *ngIf="lastname?.errors && lastname?.touched">
                  <ng-container *ngFor="let error of errorMessages.lastname">
                    <div class="text-danger" *ngIf="lastname?.hasError(error.type)">
                      {{ 'REGISTRO.mensaje_error' | translate }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="col-12 py-3">
              <input
                formControlName="email"
                type="email"
                class="form-control fw-300 py-3 formInput"
                placeholder="{{ 'REGISTRO.placeholder_text_email' | translate }}"
              />
              <div *ngIf="email?.errors && email?.touched">
                <ng-container *ngFor="let error of errorMessages.email">
                  <div class="text-danger" *ngIf="email?.hasError(error.type)">
                    {{ 'REGISTRO.mensaje_error' | translate }}
                  </div>
                </ng-container>
              </div>
              <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
            </div>

            <div class="col-12 py-3">
              <input
                formControlName="psw"
                type="password"
                class="form-control fw-300 py-3 formInput"
                placeholder="{{ 'REGISTRO.placeholder_text_contrasena' | translate }}"
                required
              />
              <div *ngIf="psw?.errors && psw?.touched">
                <ng-container *ngFor="let error of errorMessages.psw">
                  <div class="text-danger" *ngIf="psw?.hasError(error.type)">
                    {{ 'REGISTRO.mensaje_error' | translate }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col-12 py-3 fc-primary fs-sm-1 pb-3 text-end">
              <span class="font-light">
                {{ 'REGISTRO.Ya tenes una cuenta?' | translate }}
                <a
                  type="button"
                  class="font-bold text-reset text-decoration-none"
                  (click)="onClickEnterLogin()"
                >{{ 'REGISTRO.crear_cuenta_ingresa' | translate }}</a>
              </span>
            </div>

            <div class="col-12 py-3 d-grid gap-2">
              <button
                type="submit"
                class="py-2 login-button font-extra-bold fs-md"
              >
                {{ 'REGISTRO.button' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
