section {
  padding: 40px 20px; /* Fügt oben und unten mehr Platz hinzu */
}

.contact-info-container {
  margin-bottom: 40px;
}

.contact-info-container div {
  margin-bottom: 20px;
}

.contact-info-container h3 {
  margin-bottom: 10px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; /* Fügt Platz über den Social Media Icons hinzu */
}

a, .subtitle {
  color: var(--primary-black);
}

a:hover {
  color: #E35352;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin-top: 30px;
}

.main-container {
  max-width: 480px; /* Erhöhte Breite */
  margin: 0 auto;
  padding: 0 20px; /* Seitlicher Abstand */
}

.separator {
  border-top: 1px solid var(--primary-black);
  width: 300px;
  margin: 50px 0;
}

.data-icon {
  margin-right: 30px;
}

.source-container {
  display: flex;
  margin-top: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

@media all and (max-width: 1200px) {
  .main-container {
    width: 90%; /* Erhöhte Breite bei kleineren Bildschirmen */
  }
}

@media all and (max-width: 769px) {
  .main-container {
    width: 95%;
  }
}

@media all and (max-width: 380px) {
  a {
    word-break: break-all;
  }
}
