<section>
  <div class="contact-info-container">
    <div *ngFor="let contact of contactData">
      <h3>{{ 'CONTACTO.' + contact.title | translate }}</h3>
      <p><img [src]="contact.icon" alt="{{ 'CONTACTO.' + contact.title | translate }}" /> {{ contact.text }}</p>
    </div>
  </div>

  <div class="social-media-container">
    <a *ngFor="let social of socialMedia" [href]="social.link" target="_blank" rel="noopener noreferrer">
      <img [src]="social.src" [alt]="social.ariaLabel" />
    </a>
  </div>
</section>

