<div class="main-container">
  <h1 class="title fs-lg-2 font-bold">{{ 'CONTACTO.titulo_form' | translate }}</h1>
  <p class="fs-md">{{ 'CONTACTO.pequena_descripcion_de_titulo_form' | translate }}</p>
  <form [formGroup]="contactForm" (ngSubmit)="onSaveHandle($event)">
    <input type="text" [placeholder]="'CONTACTO.placeholder_nombre_apellido' | translate" formControlName="name" (keypress)="validateInputName($event)" />
    <input type="email" [placeholder]="'CONTACTO.placeholder_correo_electronico' | translate" formControlName="email" />
    <textarea [placeholder]="'CONTACTO.placeholder_comentarios' | translate" formControlName="message"></textarea>
    <button type="submit" [disabled]="!validForm">{{ 'CONTACTO.button_form' | translate }}</button>
  </form>
</div>
